<ion-view class="login" cache-view="false">
    <ion-header-bar align-title="center" class="bar-positive">
        <div class="title">
            Header
        </div>
    </ion-header-bar>

    <ion-content scroll="false" class="has-header">

        <div class="list padding">
            <label class="item item-input item-floating-label">
                <span class="input-label">Email Address</span>
                <input type="email" ng-model="loginVm.email" placeholder="Email Address">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input type="password" ng-model="loginVm.password" placeholder="Password">
            </label>
            <button class="button button-block button-positive" ng-click="loginVm.login()">
                Log me in!
            </button>
        </div>

    </ion-content>

    <ion-footer-bar align-title="center" class="bar-positive">
        <div class="title">
            Super App Inc.
        </div>
    </ion-footer-bar>

</ion-view>
